
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-style: normal;
}

header{
    text-align: center;
    font-size: 24px;
    margin: 10px 0 10px 0
}

footer{
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    /* border: solid 2px; */
    padding: 20px;
}

.config-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    border-radius: 20px;

    border: solid 1px;
    box-shadow: 0 0 20px 0;
    margin-right: 80px;
}

.config-container button{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
}

.config-container button:hover {
    background-color: black;
    color: white;
}

.colorPad{
    width: 100px;
    height: 80px;
    border: none;
}

.sketch-container{
    display: flex;
    flex-wrap: wrap;
    border: solid 2px;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 20px 0;
}

